.containerCard {
  display: inline-block;
  flex-direction: row;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 20%;
  transition: 1s !important;
}
.containerCard:hover {
  transform: scale(1.1) !important;
}

.cardBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  border-radius: 20px;
  box-shadow: 0px 10px 16px gray;
}

.contentCard {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
}

.contentCard2 {
  display: flex;
  flex-direction: row;
}

.cardImg_block {
  width: 10vmax;
  height: 10vmax;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cardButtons {
  background-color: transparent;
  border-width: 0;
}
.Icon:hover {
  background-color: whitesmoke;
  border-radius: 20%;
}
.cardButtons_details {
  background-color: transparent;
  border-width: 0;
}
.cardButtons_details:hover {
  color: #544856;
  font-weight: bold;
}

.pagination {
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

@media (max-width: 1024px) {
  .cardImg_block {
    width: 10vmax;
    height: 10vmax;
  }

  .contentCard {
    font-size: 15px;
  }
  .cardButtons {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .containerCard {
    width: 90%;
  }

  .cardImg_block {
    width: 30vmax;
    height: 30vmax;
  }
  .contentCard {
    font-size: 20px;
  }
  .cardButtons {
    width: 40px;
    height: auto;
  }
}
@media (max-width: 426px) {
  .containerCard {
    width: 90% !important;
  }

  .cardImg_block {
    width: 20vmax;
    height: 20vmax;
  }
  .contentCard {
    font-size: 20px;
  }
  .cardButtons {
    width: 40px;
    height: auto;
  }
  .navbar {
    width: 425px !important;
  }
}
